@import "../../variables.scss";

button:focus {
    outline: none;
}

.neuHover:hover{
    background: $sameAsBackground;
    box-shadow: 2px 2px 4px var(--feryv-dimShadow), 
                -2px -2px 4px var(--feryv-brightShadow);
}

.neuPress:active {
    background: $sameAsBackground;
    box-shadow: inset 5px 5px 10px var(--feryv-dimShadow), 
                inset -5px -5px 10px var(--feryv-brightShadow);
}