@import "~bootstrap/scss/bootstrap.scss";
@import "./variables.scss";
@import "./styles.scss";


button{
    color: inherit;
}

.noTextSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.textBorder{
    text-shadow: -1px 1px 0 var(--feryv-bg-color),
                 1px 1px 0 var(--feryv-bg-color),
                 1px -1px 0 var(--feryv-bg-color),
                 -1px -1px 0 var(--feryv-bg-color);
}


//Border Radius
.borderRadius-1{
    border-radius: ($radiusSize*0.2) + 0px !important;
}
.borderRadius-2{
    border-radius: ($radiusSize*0.4) + 0px !important;
}
.borderRadius-3{
    border-radius: ($radiusSize*0.6) + 0px !important;
}
.borderRadius-4{
    border-radius: ($radiusSize*0.8) + 0px !important;
}
.borderRadius-5{
    border-radius: ($radiusSize) + 0px !important;
}
.borderRadius-c{
    border-radius: 50% !important;
}


//Neumorphism
.neumorphic{
    outline: none;
    background-color: $sameAsBackground;
    border: 0;
    box-shadow: 5px 5px 10px var(--feryv-dimShadow), 
                -5px -5px 10px var(--feryv-brightShadow);
}

.insetNeumorphic{
    outline: none;
    background-color: $sameAsBackground;
    border: 0;
    box-shadow: inset 5px 5px 5px var(--feryv-dimShadow), 
                inset -5px -5px 5px var(--feryv-brightShadow);
}

@mixin neumorphic{
    outline: none;
    background-color: $sameAsBackground;
    border: 0;
    box-shadow: 5px 5px 10px var(--feryv-dimShadow), 
                -5px -5px 10px var(--feryv-brightShadow);
}

@mixin insetNeumorphic{
    outline: none;
    background-color: $sameAsBackground;
    border: 0;
    box-shadow: inset 5px 5px 5px var(--feryv-dimShadow), 
                inset -5px -5px 5px var(--feryv-brightShadow);
}


//Glassmorphism
.glassmorphic{
    z-index: 2;
    backdrop-filter: blur(10px);
    background-color: var(--feryv-glassmorphic-bg-color);
}
